<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mandalart : Join</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/join.css">
  <script src="https://kit.fontawesome.com/038578f405.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <nav class="menu">
        <div class="menu__logo"><a href="/main.html"><i class="fa-solid fa-globe" style="margin-right : 5px;"></i>Mandalart</a></div>
        <div style="flex-grow : 1;"></div>
        <div class="menu__login menu__item"><a href="/login.html">로그인</a></div>
        <div class="menu__join menu__item"><a href="/join.html">회원가입</a></div>
      </nav>
    </header>
    <main>
      <form action="" class="joinForm">
        <ul>
          <li><p class="joinForm__title">회원가입</p></li>
          <li><label for=""><i class="fa-solid fa-caret-right"></i> 이메일</label></li>
          <li><input type="email" /></li>
          <li><label for=""><i class="fa-solid fa-caret-right"></i> 닉네임</label></li>
          <li><input type="text" /></li>
          <li><label for=""><i class="fa-solid fa-caret-right"></i> 비밀번호</label></li>
          <li><input type="password" /></li>
          <li><label for=""><i class="fa-solid fa-caret-right"></i> 비밀번호 확인</label></li>
          <li><input type="password" /></li>
          <li><button>회원가입</button></li>
        </ul>
      </form>
    </main>
    <footer>
      <div class="footer__box">
        <span>Made by Jinuuk</span>
        <span><a href="https://github.com/jinuuk" target="_blank"><i class="fa-brands fa-github" style="color :white; font-size : 15px;"></i></a></span>
      </div>
    </footer>
  </div>
</body>
</html>